
.second .sub-title{
    font-size: 25px;
}

.intro{
    margin-top: 10px;
    word-spacing: 7px;
    font-size: 60px;
}

span{
    color:rgb(163, 28, 127);
}

#about{
    padding: 80px 120px;
    position: relative;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 90%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    color: #890116;
    font-size: 45px;
    font-weight: 600;
}

.sub-title p{
    font-size: 20px;
}.tab-titles{
    margin: 20px 0px 40px;
}

.tab-links{
    color: #890116;
    margin-right: 50px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links ul {
    padding: 8px 0px;
    list-style: none;
    font-size: 18px;
    color: rgb(71, 71, 71);
}

.tab-links ul li,sup{
    color: rgb(71, 71, 71);
}


.about-col-2 p{
    padding: 8px 0px;
    color: rgb(72, 72, 72);
}







#contact .container{
    padding: 30px 30px;
    margin: 20px 80px;
}

#contact span{
    color: rgb(163, 28, 127);
}

#contact p{
    margin: 20px 0px;
    word-spacing: 7px;
    font-size: 20px;
}

.social-icon{
    margin: 30px 0px;
    word-spacing: 10px;
    font-size: 30px;
}





#services{
    padding: 30px 30px;
    margin: 20px 80px;
}

.solid:hover{
    height: 400px;
    background-color: #890116;
    border-radius: 50px;
}

.liq:hover{
    height: 400px;
    background-color: #890116;
    border-radius: 50px;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    
    
}

.services-list h2{
    align-items: center ;
    margin-top: 40px;
    margin-left: 15px;
    color: #890116;
    font-weight: 600;
    font-size: 30px;
}

.services-list h3{
    align-items: center;
    margin-top: 40px;
    margin-left: 15px;
    color: #890116;
    font-weight: 600;
    font-size: 30px;
}

.services-list h2:hover{
    align-items: center;
    color: #e9e1cc;
    font-weight: 600;
    font-size: 30px;
}

.services-list h3:hover{
    align-items: center;
    color: #e9e1cc;
    font-weight: 600;
    font-size: 30px;
}

.services-list p{
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 30px;
    color: gray;
}

.intel{
    margin-left: 25%;
    margin-top: 50px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}